body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Noto Sans';
}
li{
  list-style: none;
}
#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}